.container {
    margin-bottom: 50px;
  }

.carousel-indicators .active {
    height: 10px;
    width: 40px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #ff8206, #ffd019);
}
.card{
  border: none;
  box-shadow: 1px 1px 5px #80808080;
}
#see{
  color: orange;
  font-size: 15px;
}
.underline-block{
  width: 80px;
  height: 8px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff8206, #ffff00);
}
#contact{
  background-color: #feeae8;
  border-radius: 10px;
  height: 300px;
}
.footer{
  text-align: center;
}